{% extends 'base.html.twig' %}

{% block body %}

<script src="{{ asset('js/project-assignments.js') }}">
</script>

<div ng-app="projAssignments" ng-controller="projAssignmentsCtrl" id="assignments_div" class="container">
  <div class="row">
    <div class="col-md-offset-1">
      <div class="col-md-6 col-md-offset-1">
        <h3>{[{ projectName }]}</h3>

        <form class="form-horizontal" role="form" method="POST" action="#"  ng-submit="assignPerson($event)">
          <div ng-show="unassignedPax.length > 0" id="add-person-div" class="row">

            <div class="form-group">
              <div class="col-md-7 col-md-offset-1">
                <label for="person"></label>
                <select class="form-control" id="person" name="person_id" ng-model="personToAdd" ng-options="up as (up.first_name + ' ' + up.last_name) for up in unassignedPax">
                  <option value="">--- Select a Person ---</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-1">
                <button id="submit" type="submit" class="btn btn-primary">
                  <i class="fa fa-btn fa-user"></i> Add
                </button>
              </div>
            </div>
          </div>
        </form>

        <div ng-hide="assignedPax.length > 0" id="no-person-div" class="row">
          <div class="col-md-8 col-md-offset-4">
            <h4>No assignments yet</h4>
          </div>
        </div>

        <table ng-show="assignedPax.length > 0" id="assignments" class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Current Members</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="assigned in assignedPax">
              <td class="assignment-info">{[{ assigned.first_name }]} {[{ assigned.last_name }]}</td>
              <td><a class="remove-button" data-row-id="{[{ assigned.id }]}" href="#" ng-click="unassignPerson($event, assigned.id)">Remove</a></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-3 col-md-offset-1">
      </div>
    </div>
  </div>
</div>

{% endblock %}
